<div class="container questions index">

  <h1>Questions</h1>

  <%= link_to 'Add a New Question', { controller: 'questions', action: :new} %>

  <table class="table table-bordered table-striped text-center" summary="Question list">
    <tr>
      <th class="">Question No</th>
      <th>Question</th>
      <th>Maximum rating</th>
      <th>Possibles Actions</th>
    </tr>
    <% @questions.each do |question| %>
    <tr>
      <td><%= question.position %></td>
      <td><%= question.summary %></td>
      <td class="center"><%= question.max_rate %></td>
      <td class="action">
        <%= link_to('Show', question) %>
        <%= link_to('Edit', {:action => :edit, :id => question.id}) %>
        <%= link_to('Delete', question_path(question), method: :delete, data: {:confirm => 'Are you sure'}) %>
      </td>
    </tr>
    <% end %>
  </table>

</div>