<div class="container questions index">

  <h1>Questions</h1>

  <%= link_to "Add a New Question", { controller: 'questions', action: :new} %>
    <div class="container">
      <div class="row">
      </div>
    </div>

  <table class="listing" border="3" summary="Question list">
    <tr class="header">
      <th>Question No</th>
      <th>Question</th>
      <th>Maximum rating</th>
      <th>Possibles Actions</th>
    </tr>
    <% @questions.each do |question| %>
    <tr>
      <td><%= question.position %></td>
      <td><%= question.summary %></td>
      <td class="center"><%= %></td>
      <td class="action">
        <%= link_to('Show', '#', :class => 'panel-info') %>
        <%= link_to('Edit', '#', :class => 'action edit') %>
        <%= link_to('Delete', '#', :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>

</div>