<%= error_messages_for(@team)%>
<div class="fields">
	<%= f.label :title, 'Team name' %>
	<%= f.text_field :title %>
	<%= f.fields_for :users do |builder| %>
		<%= render partial: 'user_fields', locals: {f: builder} %>
	<% end %>
	<p>
		<%= link_to_add_fields("Add user", f, :users) %>
	</p>
</div>