<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading"><h3>Rating for ---: </h3></div>
        <div class="panel-body">
          <%= form_for @performance_review, url: {controller: :admin, action: :create_form} do %>
              <%= Question.all.each do |question| %>
                <h1> Question <%= question.position.to_s + ': ' %></h1>
                <p><%= question.question %></p>
                <div class="form-group">
                  <label for="comment">Add a comment:</label>
                  <textarea class="form-control" id="comment" placeholder="Comment on your rating" name="performance_review[:comment]"></textarea>
                </div>
                <div class="form-group">
                  <label for="rating">Rating:</label>
                  <input type="range" name="performance_review[:rating]" min="0" max="<%= question.max_rate%>" class="form-control" id="rating">
                </div>
              <% end %>
              <button class="btn btn-default" type="submit">Submit feedback</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>