<%= error_messages_for(@user) %>

<%= %>















<div class="form-group">
  <label for="position">First Name:</label>
  <input type="text" class="form-control" id="first_name" name="user[first_name]" placeholder="Enter user's first name " value="<%= user.first_name %>">
</div>
<div class="form-group">
  <label for="last_name">Last Name</label>
  <input type="text" class="form-control" id="summary" name="user[last_name]" placeholder="Enter user's last name" value="<%= user.last_name %>">
</div>
<div class="form-group">
  <label for="email">Email:</label><br>
  <input type="email" class="form-control" id="email" name="user[email]" placeholder="Enter your email" value="<%= user.email%>">
</div>
