<div class=" container">

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading"><h3>Users page</h3></div>
      <div class="panel-body">
      <table class="table table-bordered table-striped">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Confirmation Status</th>
          <th colspan="3">Actions</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.first_name%></td>
            <td><%= user.last_name%></td>
            <td><%= user.email%></td>
            <td><%= user.completed? ? 'Completed':'pending' %></td>
            <td><%= link_to 'Show', user_path(user) %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
        <% end %>
      </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-9">
            <div class="btn btn-info"><%= link_to 'Add A new User',{ controller: 'users', action: :new} %> </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">

    </div>
  </div>


</div>
