<div class="container-fluid">


  <div class="btn btn-info">
      <%= link_to ' Back to users list', users_path , html: {class: 'btn btn-primary'}%>
  </div>
  <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading"><h3>Details for <%= @user.first_name.capitalize %></h3></div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <td><strong>Full name:</strong></td>
                <td><%= @user.full_name %></td>
              </tr>
              <tr>
                <td><strong>Email:</strong></td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td><strong>Review status:</strong></td>
                <td><%= @user.completed? ? 'Yes':'No' %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
