<%= error_messages_for(@questionnaire)%>
<div class="fields">
	<%= f.label :title, 'Questionnaire title' %>
	<%= f.text_field :title %>
	<%= f.fields_for :questions do |builder| %>
		<%= render partial: 'question_fields', locals: {f: builder} %>
	<% end %>
	<p>
		<%= link_to_add_fields("Add question", f, :questions) %>
	</p>
</div>