<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <p><%= link_to 'Back to members\' list', users_path, class: 'btn btn-info' %> </p>
      <div class="panel panel-info">
        <div class="panel-heading"><h3>Editing review of <%= @user.first_name %> </h3></div>
        <div class="panel-body">
          <%= form_for @performance_review, url: user_performance_review_path(@performance_review) , html: { class: 'form-group'} do |f| %>
            <%= render partial: 'form', locals: {f: f} %>
            <%= f.submit("Update review of #{session[:username]}", class: 'btn btn-primary') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>