<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <p><%= link_to 'Back to members\' list', users_path, class: 'btn btn-primary' %> </p>
      <div class="panel panel-info">
        <div class="panel-heading"><h3>Rating for <%= @user.first_name %> </h3></div>
        <%= form_for @performance_review, url: user_performance_reviews_path , html: { class: 'form-group'} do |f| %>
            <%= render partial: 'form', locals: {f: f} %>
            <%= f.submit("Submit Performance review for #{session[:username]}", class: 'btn btn-primary') %>
        <% end %>
      </div>
    </div>
  </div>
</div>