<nav class="nav navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand">FR 360</a>
	</div>
	<div>
		<ul class="nav navbar-nav nav-pills">
			<li role="presentation" class="<%= is_active?('/members')%>"><%= link_to "Team members" ,'/members' %> </li>
			<li role="presentation" class="<%= is_active?('/members/show')%>"><%= link_to "Feedback" ,'/members/show' %> </li>
			<li role="presentation" class="<%= is_active?("/users/#{current_user.id}/edit")%>"><%= link_to "Settings" ,"/users/#{current_user.id}/edit" %> </li>
		</ul>
		<ul class="nav navbar-right nav-navbar">
			<li role="presentation" class="pull-right"><%= link_to 'Logout', access_logout_path %></li>
		</ul>
	</div>
</nav>