<!DOCTYPE html>
<html>
<head>
  <title>360 degree feedback</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="icon" href="../images/flavicon.ico">
  <%= csrf_meta_tags %>
  <style>
    .back {
        background-image: url('../../assets/images/background.jpg');
    }
  </style>
</head>
<body class="back">

<!--</div>-->
<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <a class="navbar-brand">FR360</a>

      <ul class="nav nav-pills" style="{display: inline}">
        <% navs=Navigation.all %>
        <% navs.each do |nav| %>
            <% active_state = if nav.nav_enabled
                                'active'
                              else
                                ''
                              end
            %>
            <li role="presentation" <%= 'class=' + active_state %> ><%= link_to nav.title , nav.permalink %> </li>
        <% end%>
      </ul>
      <ul class="navbar-right" >
        <% if Global.first.admin %>
      <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>


<%= yield %>

</body>
</html>
