<!DOCTYPE html>
<html>
<head>
  <title>360 Feedback <%= "| #{@page_title}" unless @page_title.blank? %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body class="back">

<%= render partial: 'layouts/navigation', locals: {navigations: @navigations} %>
    <% unless flash[:notice].blank? %>
        <div class="label label-info">

          <%= flash[:notice]%>
        </div>
    <% end %>

    <%= yield %>

    <%= render partial: 'layouts/footer' %>
</body>
</html>
