<!DOCTYPE html>
<html>
<head>
  <title>360 Feedback <%= "| #{@page_title}" if @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body class="back">

	<% [:notice, :error, :alert, :success].each do |level| %>
		<% unless flash[level].blank? %>
			<div class="<%= flash_class(level) %>">
				<%= content_tag :span, flash[level] %>
			</div>
		<% end %>
	<% end %>

	<%= yield %>

</body>